
.custom-header th {
  background-color: #F2A154;
  color: white;
  z-index:999;
  position: sticky;
}

.container > .row {
  justify-content: flex-end;
}

.col-6.ml-auto {
  max-width: 100%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .05);
}

@media screen and (max-width: 768px) {
  .table-responsive {
    display: block;
    width: 150%;
    //overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .col-6.ml-auto {
    width: 100%;
    margin-left: 0;
  }


  .custom-header th {
    background-color: #F2A154;
    color: white;
    position: absolute! important;
  }


  .table-responsive {
    display: block;
    width: 200%;
    //overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }


  .table {
    height: 560px;
    width: 70%;
    //overflow-y: visible;
  }


  .container > .row > .col-6.ml-auto {
    margin-left: 5px;
    width: calc(100% - 5px);
  }


  @media screen and (max-width: 768px) {
    .col-6.ml-auto {
      width: 100%;
      margin-left: 0;
    }

    .col-6.ml-auto > .table-responsive {
      //overflow-y: visible;
    }
  }



}
.btn-add-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11rem;
  height: 2rem;
  font-size: 1.15rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.15em;
  background-color: #f7f6e7;
  border: #F2A154 2px solid;
  border-radius: 2em;
  color: #314E52;
}

.btn:hover {
  background-color: #F2A154;
  color: black;

}
.button-container {
  margin-left:40%;
  margin-top:7.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.scrollable-table-container{
  border-radius: 5%;
  max-height: 550px;
  overflow-y: auto;
}
