<div class="mx-auto my-5 login-container">
  <div class="Header-text">
  </div>
  <form class="login-screen" [formGroup]="loginForm">
    <div *ngIf="incorrectCredentials"
         class="border-danger validator-border mb-3">
      <p class="text-danger validator-text">
        {{ messages.incorrectCredentials }}
      </p>
    </div>
    <div class="form-group group-input">
      <label for="username" [ngClass]="{
          'text-danger':
            loginForm.get('username')?.hasError('required') &&
            loginForm.get('username')?.pristine
        }">{{messages.username}} </label>
      <input
        type="username"
        id="username"
        formControlName="username"
        class="form-control"
      >
      <div
        *ngIf="
          loginForm.get('username')?.hasError('required') &&
          loginForm.get('username')?.pristine
        "
        class="form-text text-danger field-required"
      >
        {{ messages.fieldRequired }}
      </div>
    </div>
    <div class="form-group group-input">
      <label for="password" [ngClass]="{
          'text-danger':
            loginForm.get('password')?.hasError('required') &&
            loginForm.get('password')?.pristine
        }"
      >{{messages.password}} </label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
      >
      <div
        *ngIf="
          loginForm.get('password')?.hasError('required') &&
          loginForm.get('password')?.pristine
        "
        class="form-text text-danger field-required"
      >
        {{ messages.fieldRequired }}
      </div>
    </div>
    <div>
      <button
        type="submit"
        class="btn btn-primary float-end"
        (click)="onSubmit()"
      >
        {{ messages.logIn }}
      </button>
    </div>
  </form>
</div>



