.btn-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 2rem;
  font-size: 1.15rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.15em;
  background-color: #f7f6e7;
  border: #F2A154 2px solid;
  border-radius: 2em;
  color: #314E52;
}

.btn:hover {
  background-color: #F2A154;
  color: black;

}
