.profile-player {
  background-color: #fff; /* Replace with the color of your choice */
  color: #333; /* Replace with the color of your choice */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30rem; /* Adjust based on your layout */
  margin-top: 5rem;
  margin-left: 40%;
  transform: scale(1.1);
}

.profile-player:hover{
  transform: scale(1.13);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.profile-player h2 {
  color: #f68b1f; /* Sample color taken from your screenshot */
  text-align: center;
}

.player-details {
  font-family: Arial, sans-serif; /* Replace with your font choice */
}

.player-details div {
  margin-bottom: 10px;
}
