<div class="profile-player">
  <h2>Player Profile</h2>
  <div class="player-details">
    <div><strong>Name:</strong> {{ player?.name }} {{ player?.surname }}</div>
    <div><strong>Age:</strong> {{ player?.age }}</div>
    <div><strong>Experience:</strong> {{ player?.experience }} years</div>
    <div><strong>Position:</strong> {{ player?.position }}</div>
    <div><strong>Weight:</strong> {{ player?.weight }} kg</div>
    <div><strong>Height:</strong> {{ player?.height }} cm</div>
    <div><strong>Spike Reach:</strong> {{ player?.attackRange}} cm</div>
    <div><strong>Block Reach:</strong> {{ player?.blockRange}} cm</div>
    <div><strong>Club:</strong> {{ player?.team}}</div>
  </div>
</div>

