.match-reports-container {
  //height: calc(90%);
  height: 600px;
  width: 200%;
  background-color: #f7f6e7; /* Dopasowanie do koloru nagłówka */
  padding: 1rem;
  /* Włączenie przewijania dla dłuższych list */
}

.match-report {
  background-color: white;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.middle-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}


.match-report p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}
