<div class="left-panel">
<!--  <div class="search">-->
<!--    <app-search-bar [(searchTerm)]="searchTerm" style="position: sticky; top: 1rem; z-index: 1;"[placeholder]="Search player"></app-search-bar>-->
<!--  </div>-->
<!--  <div class="search">-->
<!--    <app-search-bar [(searchTerm)]="searchTerm" style="position: sticky; top: 1rem; z-index: 1;"placeholder="Search trainer"></app-search-bar>-->
<!--  </div>-->
<!--  <div class="search">-->
<!--    <app-search-bar [(searchTerm)]="searchTerm" style="position: sticky; top: 1rem; z-index: 1;"placeholder="Search team"></app-search-bar>-->
<!--  </div>-->
<div class="Search">
  <app-search-bar [placeholder]="'Search player'"></app-search-bar>

</div>
  <div class="Search">
    <app-search-bar-team [placeholder]="'Search team'"></app-search-bar-team>

  </div>
  <div class="Search">
    <app-search-bar-trainer [placeholder]="'Search trainer'"></app-search-bar-trainer>

  </div>
</div>

