<div class="left-panel">
  <div class="d-flex ms-auto gap-3">
    <button
      type="button"
      class="btn btn-logout btn-outline-primary"
      (click)="redirectToProfile()"
    >
      My Profile
    </button>
  </div>
  <div class="d-flex ms-auto gap-3">
    <button
      *ngIf="isAdmin()"
      type="button"
      class="btn btn-logout btn-outline-primary"
      (click)="addMatch()"
    >
      Add match
    </button>
  </div>
  <div class="Search">
    <app-search-bar [placeholder]="'Search player'"></app-search-bar>

  </div>
  <div class="Search">
    <app-search-bar-team [placeholder]="'Search team'"></app-search-bar-team>

  </div>
  <div class="Search">
    <app-search-bar-trainer [placeholder]="'Search trainer'"></app-search-bar-trainer>

  </div>

</div>

