.search-bar {
  padding: 5px;
  height: 2rem;
  font-size: 1.15rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  line-height: 1.5;
  background-color: #f7f6e7;
  border: #F2A154 2px solid;
  border-radius: 2em;
  color: #314E52;
}

input:focus {
  width: 80%;
  margin-top:15%;
  outline: none;
  box-sizing: border-box;
  background-color: #f7f6e7;
  border: #314E52 2px solid;
  border-radius: 2em;
  transition: 0.3s ease;
}

input:empty:not(:focus) {
  width: 70%;
  margin-top:15%;
  outline: none;
  box-sizing: border-box;
  background-color: #f7f6e7;
  border: #F2A154 2px solid;
  border-radius: 2em;
  transition: 0.3s ease;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus::placeholder {
  color: transparent;
}
