<!--<div class="container mt-3">-->
<!--  <div class="row">-->
<!--    <div class="col-3">-->
<!--      <app-report-container></app-report-container>-->
<!--    </div>-->
<!--    <div class="col-6 ml-auto">-->
<!--      <app-table-league></app-table-league>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container mt-3 full-height-container">
  <app-match-carousel></app-match-carousel>
  <div class="row full-height-row">
    <div class="col-3 match-reports-column">
      <app-report-container></app-report-container>
    </div>
    <div class="col-6 ml-auto">
      <div class="table-responsive">
        <app-table-league></app-table-league>
      </div>
    </div>
  </div>
</div>

