
.table-responsive {
  max-height: calc(100vh - 140px); /* Adjust if necessary */
  width: 100%; /* Set to auto or a specific width that fits the content */
  overflow-y: scroll;
}

::ng-deep .col-6.ml-auto {
  width: 65% !important;
  margin-left: 10%;
}


/* You may also want to adjust the margin between the two containers if they are within the same row */
.container > .row {
  margin: 0;
  margin-left: 10%;
}



/* Rest of the styles */

